/* 
didactic purposes
Some items are intentionally not optimized or not coded in the right way
FastTrackIT 2015,
version 1.0
*/

body {
    background-image: url("http://www.clker.com/cliparts/n/U/I/3/K/e/red-dice-md.png");
    background-color: lightcoral;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
    padding: 0;
    margin: 0;
}

#sitebranding {
    position: center;
}

h1 {
    font-size: xx-large;
    font-family: "Brush Script MT";
    text-align: center;
    border-radius: 10px;
    background-color: indianred;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
    text-shadow: blueviolet 2px 2px;
}

#tagline p {
    font-style: italic;
    font-family: Georgia, Times, serif;
    background-color: #bed8f3;
    border-top: 3px solid #7da5d8;
    border-bottom: 3px solid #7da5d8;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .8em;
    margin: 0;
}

#header {
    position: absolute;
    border: 1px outset steelblue;
    border-radius: 10px;
    width: 99%;
    margin: 5px;
}

#navigation {
    position: absolute;
    top: 110px;
    width: 110px;
    height: 180px;
    left: 200px;
    background-color: transparent;
    color:black;
    padding-left: .8em;


}

.myButton {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:10px;
    border:1px solid #4a4949;
    display:inline-block;
    cursor:pointer;
    font-family: "Brush Script MT";
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border: 1px outset black;
    background-color: #ffc0be;
}

.myButton:hover {
background-color: aliceblue;
}

#bodycontent {
    position: absolute;
    left: 540px;
    top: 120px;
    padding-top:.4em;
    padding-left:2em;
}

#postcontent {
    position: absolute;
    left: 960px;
    top: 110px;
    width: 120px;
    height:180px;
    background-color: transparent;
    color:black;
    padding-left: .8em;

}

#serverResponse {
    position: absolute;
    text-align: center;
    top: 210px;
    left: 510px;
    width: 300px;
    background-color: whitesmoke;
    color: black;
    padding-left: .8em;
    border-radius: 5px;

}

#time {
    position: absolute;
    text-align: center;
    top: 270px;
    left: 510px;
    width: 300px;
    background-color: whitesmoke;
    color: black;
    padding-left: .8em;
    border-radius: 5px;
}











/* padding - between border and text -*/


/* class selector*/
.test {
    color: #aa0044;
}

.highlight {
    border-width: 10px;
    border-style: inset;
    border-color: #999999;
}